
@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- offset là mỗi bên khi thu nhỏ vô thì sẽ đẩy vào 3 cột cho cái hình nằm giữa
        mt-số là margin top, pt-số là padding top, tương tự cho ml,mr,mb,pr,pl,pb -->
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="offset-md-3 col-md-6 mt-5 text-center" style="border:2px solid red ">
                <h1>Cổng thông tin<br /> Sinh Viên Năm Tốt</h1>
                <hr>
                <div class="col-md-12 mt-3 ">
                    <h5>Tên đăng nhập</h5>
                </div>
                <div class="col-md-12 mt-3 ">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Nhập Mã Số Sinh Viên">
                   
                    </div>
                </div>
                <div class="col-md-12 mt-3 ">
                    <h5>Mật Khẩu</h5>
                </div>
                <div class="col-md-12 mt-3 ">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" name="Password" class="form-control" placeholder="Nhập Mật Khẩu">
                        
                    </div>
                </div>
                <div class="col-md-12 mt-3 mb-3">
                    <input class="btn btn-outline-warning" type="submit" value="Login" />
                    @*<button class="btn btn-outline-warning" type="submit">Login</button>*@
                </div>
            </div>
        }
        <div class="container text-center mt-3">
            <p>Phiên bản 1.0.0</p>
            <p>Bản quyền của 15DTH11 - Group – Phát triển bởi 15DTH11 - Group © 2018</p>
            <a href="https://www.facebook.com/groups/1504591493184304/"><i style="font-size:50px;color:black" class="fab fa-facebook-square"></i></a>
            <a href="#"><i style="font-size:50px;color:black" class="fab fa-instagram"></i></a>
            <a href="#"><i style="font-size:50px;color:black" class="fab fa-youtube"></i></a>
        </div>
    </div>

</body>

</html> 