@model IEnumerable<DACS.Models.CHITIET_TC>
@{
    ViewBag.Title = "SV5T";
    Layout = "~/Views/Shared/Layout_User.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sinh Viên 5 Tốt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        
    }
</style>
<body>
        <table class="table table-striped table-inverse table-hover" style="margin-top:78px;">
            <tr>
                <th rowspan="2" style="width:600px">NỘI DUNG</th>
                <th colspan="3" style="width:450px">ĐÁNH GIÁ</th>
                <th rowspan="2" style="width:200px">ĐẠT</th>
            </tr>
            <tr>
                <th>Sinh Viên</th>
                <th>Khoa / Viện</th>
                <th>Phòng Ban</th>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center;color:yellow; padding-left:5px">ĐẠO ĐỨC</th>
                <th><input disabled="disabled" type="checkbox" id="test4" />
                    <label for="test4"></label></th>
            </tr>
            <tr>
                <td style="text-align:left" id="dd_title"></td>
                @*<td>    
                        <input type="checkbox" id="test1"  />
                        <label for="test1"></label>
                </td>
                <td >
                    <input disabled="disabled" type="checkbox" id="test2"  />
                    <label for="test2"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test3"  />
                    <label for="test3"></label>
                </td>*@
            </tr>
            <tr>
                <th colspan="4" style="text-align:center;color:yellow; padding-left:5px">HỌC TẬP</th>
                <th>
                    <input disabled="disabled" type="checkbox" id="test7"/>
                    <label for="test7"></label>
                </th>
            </tr>
            <tr>
                <td style="text-align:left" id="ht_title"></td>
           
            </tr>
            <tr>
                <th colspan="4" style="text-align:center;color:yellow; padding-left:5px">THỂ LỰC</th>
                <th>
                    <input disabled="disabled" type="checkbox" id="test44"/>
                    <label for="test44"></label>
                </th>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center; padding-left:5px">Hoàn thành một trong hai tiêu chí sau:</th>
            </tr>

            <tr>
                <td style="text-align:left" id="tl1_title"></td>
           
            </tr>
            <tr>
                <td style="text-align:left" id="tl2_title"></td>
         
            </tr>
            <tr>
                <th colspan="4" style="text-align:center;color:yellow; padding-left:5px">TÌNH NGUYỆN</th>
                <th>
                    <input disabled="disabled" type="checkbox" id="test48"/>
                    <label for="test48"></label>
                </th>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center; padding-left:5px">Hoàn thành một trong hai tiêu chí sau:</th>
            </tr>
            <tr>
                <td style="text-align:left" id="tn1_title"></td>
         
            </tr>
            <tr>
                <td style="text-align:left" id="tn2_title"></td>
        
            </tr>
            <tr>
                <th colspan="4" style="text-align:center;color:yellow; padding-left:5px">HỘI NHẬP</th>
                <th>
                    <input disabled="disabled" type="checkbox" id="test46" />
                    <label for="test46"></label>
                </th>
            </tr>
            <tr>
                <td style="text-align:left" id="hn1_title"></td>
                  
             </tr>
            <tr>
                <td style="text-align:left" id="hn2_title"></td>
        
            </tr>
            <tr>
                <td style="text-align:left" id="hn3_title"></td>
          
            </tr>
            <tr>
           
            @*<tr>
                <th colspan="4" style="text-align:center;color:yellow; padding-left:5px">TIÊU CHÍ ƯU TIÊN</th>
                <th>
                    <input disabled="disabled" type="checkbox" id="test47" />
                    <label for="test47"></label>
                </th>
            </tr>
            <tr>
                <td style="text-align:left">Là Đoàn viên ưu tú được Kết nạp Đảng</td>
                <td>
                    <input type="checkbox" id="test35" />
                    <label for="test35"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test36" />
                    <label for="test36"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test37" />
                    <label for="test37"></label>
                </td>            </tr>
            <tr>
                <td style="text-align:left">Tham gia Hiến máu tình nguyện</td>
                <td>
                    <input type="checkbox" id="test38" />
                    <label for="test38"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test39" />
                    <label for="test39"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test40" />
                    <label for="test40"></label>
                </td>            </tr>
            <tr>
                <td style="text-align:left">Được biểu dương khen thưởng</td>
                <td>
                    <input type="checkbox" id="test41"/>
                    <label for="test41"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test42"  />
                    <label for="test42"></label>
                </td>
                <td>
                    <input disabled="disabled" type="checkbox" id="test43"  />
                    <label for="test43"></label>
                </td>            
            </tr>*@     
        </table>
    <div style="background-color: black;height: 50px;">
        <button type="button" class="submitbutton btn btn-outline-danger" id="XacNhanDanhGia">Submit</button>
        <button type="button" class="backbutton btn btn-outline-secondary">Back</button>
    </div>

    <script src="~/Scripts/sv5t_cus.js"></script>

</body>
</html>
<script src="~/Scripts/1.js"></script>
<link href="~/css/style.css" rel="stylesheet" />
